{:tasks {deps (do (shell {:dir "frontend"} "npm install")
                  (shell {:dir "backend"} "npm install"))
         clear {:requires ([babashka.fs :as fs])
                :task (do (fs/delete-tree "frontend/.cpcache")
                          (fs/delete-tree "frontend/.shadow-cljs")
                          (fs/delete-tree "frontend/.vscode"))}
         dev-frontend (shell {:dir "frontend"} "npm run dev")
         dev-backend (shell {:dir "backend"} "npm run tauri dev")
         ;-dev {:depends [dev-frontend dev-backend]}
         ;dev {:doc "Starts the front- and backend"
         ;     :task (run 'dev {:parallel true})}
         build-release (do
                         (shell {:dir "frontend"}
                           "npm run release")
                         (shell {:dir "backend"}
                           "npm run tauri build"))}}