{:tasks {build-release (do
                         (shell {:dir "frontend"}
                           "npm run release")
                         (shell {:dir "backend"}
                           "npm run tauri build"))}}